@import url("components/avatar.css");
@import url("components/btn-orange.css");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/card.css");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata");

body{
	background-color: white;
	font-size: 16px;
	font-family: 'Crimson Pro', serif;
	margin: 0px;
}

h1, h2, h3{
	font-family: 'Literata';
}

h1{
	font-size: 40px;
	line-height: 1;
	letter-spacing: 1px;
	font-weight: bold;
	color: black;
}

h2{
	font-size: 40px;
	line-height: 1;
	letter-spacing: 1px;
	font-weight: bold;
	color: blueviolet;
}
h3{
	color: green;
}
a{
	text-decoration: none;
}

p{
	font-size: 17px;
	color: blue;
}