.card{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
  }

  .card{
  	padding : 20px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  	border-radius: 6px;
  	background-color: mintcream;
  	margin: 10px;
  	flex-basis: 250px;
  	flex-grow: 1;
  }

  .card img{
  	width: 150px;
  	border-radius: 20px;
  }

  .card h3{
  	flex-grow: 1;
  	padding: 20px;
  	font-size: 20px;
  }

  .card-2 {
  	padding: 20px;
  	box-shadow: 0px 10px 30px rgba(0, 0, 0,0.2);
  	border-radius: 20px;
  	background-color: yellow;
  	margin: 10;
  	margin-bottom: 50px;
  }

 .card-2 h2{
 	color: orange;
 }

 .card-2 p{
 	color: green;
 }

 .card-3{
 	padding: 20px;
  	box-shadow: 0px 10px 30px rgba(0, 0, 0,0.2);
  	border-radius: 20px;
	background-color: yellow;
	margin: 10px;
	text-align: justify-all;
	margin-bottom: 50px;
 }
 .card-2 img{
 	width:300px;
  	border-radius: 20px;
  	display: block;
  	margin: auto;
 }

 .card-3 img{
 	width:300px;
  	border-radius: 20px;
  	display: block;
  	margin: auto;
 }
